<div class="contenedor mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>


    <ng-container matColumnDef="apellido1">
      <th mat-header-cell *matHeaderCellDef> Apellido1 </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido1}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido2">
      <th mat-header-cell *matHeaderCellDef> Apellido2 </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido2}} </td>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef> Sexo </th>
      <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
    </ng-container>


    <ng-container matColumnDef="fecha_admision">
      <th mat-header-cell *matHeaderCellDef> Fecha de admisión </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_admision | date}} </td>
    </ng-container>


    <ng-container matColumnDef="edad_febrero">
      <th mat-header-cell *matHeaderCellDef> Edad cumplida en Febrero </th>
      <td mat-cell *matCellDef="let element"> {{element.edad_febrero}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_nacimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento | date}} </td>
    </ng-container>

    <ng-container matColumnDef="centro_de_pertenencia">
      <th mat-header-cell *matHeaderCellDef> Centro de pertencia </th>
      <td mat-cell *matCellDef="let element"> {{element.centro_de_pertenencia}} </td>
    </ng-container>

    <ng-container matColumnDef="centro_traslado">
      <th mat-header-cell *matHeaderCellDef> Centro de traslado </th>
      <td mat-cell *matCellDef="let element"> {{element.centro_traslado}} </td>
    </ng-container>
    <
    <ng-container matColumnDef="repitencia">
      <th mat-header-cell *matHeaderCellDef> Repitencia </th>
      <td mat-cell *matCellDef="let element"> {{element.repitencia}} </td>
    </ng-container>

    <ng-container matColumnDef="anios_escolaridad">
      <th mat-header-cell *matHeaderCellDef> Años de escolaridad </th>
      <td mat-cell *matCellDef="let element"> {{element.anios_escolaridad}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
