<app-toolbar></app-toolbar>
<div style="animation-name: fadeIn; animation-duration: 0.5s">
  <div class="hello">
    <button style="margin-bottom: 20px" color="primary" routerLink="/admin" routerLinkActive="router-link-active" mat-mini-fab aria-label="back">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1> Gestionar de profesores </h1>
    <h3>Curso lectivo: {{year}}</h3>
  </div>
  <div class="buttons-group">
    <mat-tab-group mat-align-tabs="center" class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Lista de profesores"> <app-teachers-table></app-teachers-table> </mat-tab>
      <mat-tab label="Agregar"> <app-teachers-form></app-teachers-form> </mat-tab>
      <mat-tab label="Dar de baja"> <app-delete-teacher></app-delete-teacher> </mat-tab>
      <mat-tab label="Actualizar datos"> <app-update-teacher></app-update-teacher> </mat-tab>
      <mat-tab label="Asignar grupo" > <app-teacher-assignment></app-teacher-assignment></mat-tab>
    </mat-tab-group>
  </div>
</div>
