<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="animation-name: fadeIn; animation-duration: 0.5s">
    <div class="hello">
      <h1> Bienvenido Prof. Sebas </h1>
      <h3>Curso lectivo: Morales</h3>
      <h3>Grupo: 2</h3>

    </div>

    <div class="buttons-container">
      <button routerLink="/grade" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Registro de notas</button>
      <button routerLink="/attendance" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Asistencia</button>
      <button routerLink="/pdfConverter" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Conversor</button>
    </div>
    <div class="buttons-container">
      <button routerLink="/reports" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Reportes</button>
      <button routerLink="/groupAdmin" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Gestionar grupo</button>
    </div>
  </div>


</ion-content>
