<app-toolbar></app-toolbar>
<div style="animation-name: fadeIn; animation-duration: 1s">
  <div class="hello">
    <button style="margin-bottom: 20px" color="primary" routerLink="/" routerLinkActive="router-link-active" mat-mini-fab aria-label="back">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1> Gestionar Grupo </h1>
    <h3>Curso lectivo: {{year}}</h3>
    <h3>Grupo: {{group}}</h3>
  </div>
  <div class="buttons-group">
    <mat-tab-group mat-align-tabs="center" class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Lista de estudiantes"> <app-specific-group-table></app-specific-group-table> </mat-tab>
      <mat-tab label="Agregar estudiante al grupo"> <app-add-student></app-add-student> </mat-tab>
      <mat-tab label="Dar de baja"> <app-remove-student> </app-remove-student> </mat-tab>
      <!-- <mat-tab label="Actualizar datos"> <app-update-student></app-update-student> </mat-tab> -->
      <mat-tab label="Ingresar estudiante al sistema"> <app-student-form></app-student-form> </mat-tab>
    </mat-tab-group>
  </div>
</div>
