 <form class="example-container">
  <mat-form-field>
    <input required ngModel #nombre="ngModel" name="nombre" type="text" id="nombre" type="text" matInput placeholder="Nombre">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="nombre.touched && !nombre.valid">El nombre es requerido</div>

  <mat-form-field>
    <input required ngModel #apellido1="ngModel" name="apellido1" type="text" id="apellido1" type="text" matInput placeholder="Primer apellido">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="apellido1.touched && !apellido1.valid">El primer apellido es requerido</div>

   <mat-form-field>
     <input required ngModel #apellido2="ngModel" name="apellido2" type="text" id="apellido2" type="text" matInput placeholder="Segundo apellido">
   </mat-form-field>
   <div class="alert alert-danger" *ngIf="apellido2.touched && !apellido2.valid">El segundo apellido es requerido</div>

   <mat-form-field>
     <input required ngModel #usuario="ngModel" name="usuario" type="text" id="usuario" type="text" matInput placeholder="Defina un usuario">
   </mat-form-field>
   <div class="alert alert-danger" *ngIf="usuario.touched && !usuario.valid">El usuario es requerido</div>

   <mat-form-field>
     <input required ngModel #contrasenia="ngModel" name="contrasenia" type="text" id="contrasenia" type="text" matInput placeholder="Defina una contrasenia">
   </mat-form-field>
   <div class="alert alert-danger" *ngIf="contrasenia.touched && !contrasenia.valid">La contrasenia es requerida</div>
   <button color="primary" type="submit" (click)="createTeacher(nombre.value, apellido1.value, apellido2.value, usuario.value, contrasenia.value)" mat-raised-button>Dar de baja</button>

</form>
