<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Villa Azul
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Inicio de sesión</ion-card-subtitle>
      <ion-card-title>Villa Azul</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Usuario <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required ngModel #nombre="ngModel" name="nombre" type="text" id="nombre" type="text"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="nombre.touched && !nombre.valid">
        <ion-card>
          <ion-card-content class="ion-text-center">El usuario es requerido</ion-card-content>
        </ion-card>
      </div>


      <ion-item>
        <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required ngModel #password="ngModel" name="password" id="password" type="password"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
        <ion-card>
          <ion-card-content class="ion-text-center">La contraseña es requerida</ion-card-content>
        </ion-card>
      </div>
      <ion-button (click)="login(nombre.value, password.value)" expand="block">Aceptar</ion-button>

      <div *ngIf="show">
        <ion-item>
          <ion-label>Seleccione grupo</ion-label>
          <ion-select [(ngModel)]="selection" interface="action-sheet">
            <ion-select-option *ngFor="let group of groups" [value] ="group">
              {{group.nombre_grupo}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="in()" expand="block">Iniciar</ion-button>
      </div>


    </ion-card-content>
  </ion-card>
</ion-content>

