<mat-toolbar color="primary">
  <mat-icon class="tittle-icon">school</mat-icon>
  <span>Villa Azul</span>
</mat-toolbar>

<div style="animation-name: fadeIn; animation-duration: 0.5s" class="centrado">
   <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Inicio de sesión</mat-card-title>
        <mat-card-subtitle>Villa Azul</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="fields">

          <mat-form-field class="hijo" appearance="outline">
            <input matInput placeholder="Usuario" #username class="example-right-align">
          </mat-form-field>

          <mat-form-field class="hijo" appearance="outline">
            <input matInput #password placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="fields">
        <button type="submit" (click)="login(username.value, password.value)" mat-button>Aceptar</button>
      </mat-card-actions>

     <div *ngIf="show">
       <mat-form-field appearance="outline" style="margin-left: 130px">
         <mat-label>Seleccione un grupo para esta sesión</mat-label>
         <mat-select [(ngModel)]="selection" >
           <mat-option *ngFor="let group of groups" [value] ="group">
             {{group.nombre_grupo}}
           </mat-option>
         </mat-select>
       </mat-form-field>

       <mat-card-actions class="fields">
         <button type="submit" (click)="in()" mat-button>Ingresar</button>
       </mat-card-actions>
     </div>
    </mat-card>
</div>
