.example-card {
  max-width: 500px;
  background: rgb(0,112,255);
  background: linear-gradient(0deg, rgba(0,112,255,0.1825105042016807) 14%, rgba(255,255,255,0.773546918767507) 41%);
}

.fondo{
  background: rgb(0,112,255);
  background: linear-gradient(180deg, rgba(0,112,255,0.1825105042016807) 14%, rgba(40,143,162,0.773546918767507) 69%);
}

.fields{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado{
  margin: 200px 50px 40px 700px;
}

.hijo {
  padding: 10px;
  margin: 10px;
}

