.buttons-container{
  display: flex;
  justify-content: center;
}
.home-buttons{
  margin: 28px;
}

.hello{
  margin: 50px 50px 40px 100px;
}

h1{
  margin-bottom: 50px;
  font-size: 40px;
}
h3{
  margin-bottom: 20px;
  font-size: 25px;
}

::ng-deep .mat-flat-button{
  height:200px;
  width:400px;
  font-size:28px;
}
