<app-toolbar></app-toolbar>

<div style="animation-name: fadeIn; animation-duration: 0.5s">
  <div class="hello">
    <h1> Administración </h1>
    <h3>Curso lectivo: 2020</h3>

  </div>

  <div class="buttons-container">
    <button routerLink="/teachers" routerLsinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Gestionar profesores</button>
    <button routerLink="/courses" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Gestionar cursos</button>
    <button routerLink="/adminStudents" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Estudiantes</button>
  </div>
</div>
