.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100px;
  max-width: 90%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-form-field {
  margin-right: 12px;
}

