<div *ngIf="loading" style="margin-left: 40%">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="notLoading" class="example-container mat-elevation-z8">

  <mat-form-field style="margin: 20px 80px 10px 80px">
    <input matInput [matDatepicker]="picker" placeholder="fecha" [value]="date.value">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <mat-table #table [dataSource]="finalData">

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre_estudiante}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="ausenciaInjustificada">
      <mat-header-cell *matHeaderCellDef>Ausencia Injustificada</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.ausencia_injustificada"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ausenciaJustificada">
      <mat-header-cell *matHeaderCellDef>Ausencia Justificada</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.ausencia_justificada"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tardiaInjustificada">
      <mat-header-cell *matHeaderCellDef>Tardia Injustificada</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.tardia_injustificada"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tardiaJustificada">
      <mat-header-cell *matHeaderCellDef>Tardia Justificada</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.tardia_justificada"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="presente">
      <mat-header-cell *matHeaderCellDef>Presente</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.presente"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button style="margin: 20px 80px 10px 80px" color="primary"  (click)="insert()" type="submit" mat-raised-button>Guardar Asistencia</button>

</div>
