<app-toolbar></app-toolbar>
<div style="animation-name: fadeIn; animation-duration: 0.5s">
  <div class="hello">
    <h1> Bienvenido Prof. {{teacherName}} </h1>
    <h3>Curso lectivo: {{year}}</h3>
    <h3>Grupo: {{group}}</h3>

  </div>

  <div class="buttons-container">
    <button routerLink="/grade" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Registro de notas</button>
    <button routerLink="/attendance" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Asistencia</button>
    <!-- <button routerLink="/pdfConverter" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Conversor</button> -->
  </div>
  <div class="buttons-container">
    <button routerLink="/reports" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Reportes</button>
    <button routerLink="/groupAdmin" routerLinkActive="router-link-active" class="home-buttons" mat-flat-button color="primary">Gestionar grupo</button>
  </div>
</div>


