<div  class="example-container" *ngIf="!exist">
  <div class="alert alert-danger">El curso no existe en el sistema</div>
</div>

<div class="example-container" *ngIf="show">
  <table mat-table [dataSource]="curso">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_curso}} </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Acción </th>
      <button style="margin-top: 5px" mat-cell *matCellDef="let element" (click)="delete(element)"  color="warn" type="submit" mat-raised-button>
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
