<form class="contenedor" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input required ngModel name="firstName" [(ngModel)]="studentModel.nombre" #nombre="ngModel" (change)="log(nombre)" id="firstName" type="text" matInput placeholder="Nombre">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="nombre.touched && !nombre.valid">Debe ingresar un nombre</div>

  <mat-form-field>
    <input required ngModel name="apellido1" [(ngModel)]="studentModel.apellido1" #apellido1="ngModel" (change)="log(apellido1)" id="apellido1" type="text" matInput placeholder="Primer apellido">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="apellido1.touched && !apellido1.valid">Debe ingresar el primer apellido</div>

  <mat-form-field>
    <input required ngModel name="apellido2" [(ngModel)]="studentModel.apellido2" #apellido2="ngModel" (change)="log(apellido2)" id="apellido2" type="text" matInput placeholder="Primer apellido">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="apellido2.touched && !apellido2.valid">Debe ingresar el segundo apellido</div>

    <!-- Default unchecked -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" [(ngModel)]="studentModel.sexo" id="optionsRadios1"  name="optionsRadios"  value="Masculino" checked>
      <label class="custom-control-label" for="optionsRadios1">Masculino</label>
    </div>

    <!-- Default checked -->
    <div style="margin-bottom: 20px" class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="optionsRadios2" name="optionsRadios" [(ngModel)]="studentModel.sexo" value="Femenino">
      <label class="custom-control-label" for="optionsRadios2">Femenino</label>
    </div>

  <mat-form-field>
    <input required ngModel name="edadFebrero" [(ngModel)]="studentModel.edad_febrero" #edadFebrero="ngModel" (change)="log(edadFebrero)" id="edadFebrero" type="number" matInput placeholder="Edad cumplida en Febrero">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="edadFebrero.touched && !edadFebrero.valid">Debe ingresar la edad cumplida en Febrero</div>


  <div class="form-group row">
    <label for="fecha_nacimiento" class="col-2 col-form-label">Fecha de nacimiento</label>
    <div class="col-10">
      <input  class="form-control" required ngModel name="fecha_nacimiento" [(ngModel)]="studentModel.fecha_nacimiento" #fecha_nacimiento="ngModel"
              (change)="log(fecha_nacimiento)" id="fecha_nacimiento" type="date" class="form-control" value="2020-01-01">
      <div class="alert alert-danger" *ngIf="fecha_nacimiento.touched && !fecha_nacimiento.valid">La fecha de nacimiento</div>
    </div>
  </div>

  <mat-form-field>
    <input required ngModel name="centroPertenencia" [(ngModel)]="studentModel.centro_de_pertenencia" #centroPertenencia="ngModel" (change)="log(centroPertenencia)" id="centroPertenencia" type="text" matInput placeholder="Centro de pertenencia">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="centroPertenencia.touched && !centroPertenencia.valid">Debe ingresar el centro de pertenencia, en caso de no tener, escribir NULL</div>

  <mat-form-field>
    <input required ngModel name="centroTraslado" [(ngModel)]="studentModel.centro_traslado" #centroTraslado="ngModel" (change)="log(centroTraslado)" id="centroTraslado" type="text" matInput placeholder="Centro de traslado">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="centroTraslado.touched && !centroTraslado.valid">Debe ingresar el centro de traslado, en caso de no tener, escribir NULL</div>

  <mat-form-field appearance="outline" style="margin-right: 50px">
  <mat-label>Repitencia del estudiante</mat-label>
  <mat-select [(ngModel)]="status" >
    <mat-option *ngFor="let sta of status" [value] ="sta.value">
      {{sta.viewValue}}
    </mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input required ngModel name="aniosEscolaridad" [(ngModel)]="studentModel.anios_escolaridad" #aniosEscolaridad="ngModel" (change)="log(aniosEscolaridad)" id="aniosEscolaridad" type="number" matInput placeholder="Años de escolaridad">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="aniosEscolaridad.touched && !aniosEscolaridad.valid">Debe ingresar los años de escolaridad del estudiante</div>
  <button color="primary" type="submit" mat-raised-button>Agregar estudiante</button>
</form>
