.contenedor {
  display: flex;
  margin: 20px 20px 20px 20px;
  flex-direction: column;
}
.separador{
  margin-left: 20px;
  margin-right: 20px;
}

input{
  margin-left: 15px;
  margin-bottom: 5px;
}
