<app-toolbar></app-toolbar>
<div style="animation-name: fadeIn; animation-duration: 0.5s">
  <div class="hello">
    <button style="margin-bottom: 20px" color="primary" routerLink="/" routerLinkActive="router-link-active" mat-mini-fab aria-label="Example icon-button with a heart icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1> Asistencia </h1>
    <h3>Curso lectivo: {{year}}</h3>
    <h3>Grupo: {{group}}</h3>
  </div>
  <div class="table">
    <app-attendance-table></app-attendance-table>
  </div>

</div>

