<!DOCTYPE html>
<html>
<head>
<title>JSPDF AUTOTABLE PLUGIN</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script src="src/jspdf.plugin.autotable.min.js"></script>
</head>
<body>
<table id= "my-table"></table>
<button style="margin: 20px 80px 10px 80px" color="primary"  (click)="generar()" type="submit" mat-raised-button>Guardar Asistencia</button>
</body>
</html>



