<div class="contenedor">
  <!-- Combobox para seleccionar los trimestres -->
  <mat-form-field appearance="outline" style="margin-right: 50px">
    <mat-label>Seleccione un trimestre</mat-label>
    <mat-select [(ngModel)]="periodo" >
      <mat-option *ngFor="let period of periods" [value] ="period.value">
        {{period.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <!-- Se termina el combobox para el trimestre -->
  <!-- Combobox para seleccionar los materias -->
  <mat-form-field appearance="outline">
    <mat-label>Seleccione la materia</mat-label>
    <mat-select [(ngModel)]="curso">
      <mat-option *ngFor="let course of dataCouses" [value]="course.nombre_curso">
        {{course.nombre_curso}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let element of dataSource">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{element.nombre + ' ' + element.apellido1 + ' ' + element.apellido2}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="contenedor">
      <mat-form-field appearance="outline">
        <input required ngModel #nota="ngModel" name="nota" type="text" id="nota" type="number" matInput placeholder="Nota">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="insert(element, nota.value)" >¡Guardar nota!</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  </mat-expansion-panel>

</mat-accordion>


