<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Asistencia</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
