<app-toolbar></app-toolbar>
<div style="animation-name: fadeIn; animation-duration: 0.5s">
  <div class="hello">
    <button style="margin-bottom: 20px" color="primary" routerLink="/admin" routerLinkActive="router-link-active" mat-mini-fab aria-label="back">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1> Administración de cursos </h1>
    <h3>Curso lectivo: {{year}}</h3>
  </div>
  <div class="buttons-group">
    <mat-tab-group mat-align-tabs="center" class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Lista de cursos"> <app-courses-table></app-courses-table> </mat-tab>
      <mat-tab label="Agregar"> <app-adding-course></app-adding-course> </mat-tab>
      <mat-tab label="Eliminar"> <app-delete-course></app-delete-course> </mat-tab>
    </mat-tab-group>
  </div>
</div>

