<div class="contenedor">
  <!-- <form (ngSubmit)="onSubmit()"> -->
  <form>
    <div class="separador" >

      <div class="form-group">
        <label for="cedula">Cédula del estudiante</label>
        <input required ngModel #cedula="ngModel" name="cedula" id="cedula" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="cedula.touched && !cedula.valid">Debe ingresar una cédula</div>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="optionsRadios1"  name="optionsRadios"  value="usuario" checked>
        <label class="custom-control-label" for="optionsRadios1">No sé que campos permitir que se actualicen</label>
      </div>

      <!-- Default checked -->
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="optionsRadios2" name="optionsRadios" value="contrasenia">
        <label class="custom-control-label" for="optionsRadios2">No sé que campos permitir que se actualicen</label>
      </div>

      <div class="form-group">
        <label for="nuevo_valor">Ingrese el nuevo valor</label>
        <input required ngModel #nuevo_valor="ngModel" name="nuevo_valor" id="nuevo_valor" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="nuevo_valor.touched && !nuevo_valor.valid">Debe ingresar un nombre</div>
      </div>

      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
  </form>
</div>
