<mat-toolbar color="primary">
  <mat-icon class="tittle-icon">school</mat-icon>
  <span>Villa Azul</span>
  <span class="toolbar-spacer"></span>
  <button (click)="close()" mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
