<div class="example-container">
  <button mat-raised-button (click)="log()" color="primary">Generar reporte</button>
</div>

<div *ngIf="loading" style="margin-bottom: 5px">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

