<div class="contenedor">

  <mat-form-field appearance="outline">
    <mat-label>Seleccione el grupo a asignar</mat-label>
    <mat-select [(ngModel)]="group">
      <mat-option *ngFor="let course of dataGoups" [value]="course">
        {{course.nombre_grupo}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Seleccione el docente</mat-label>
    <mat-select [(ngModel)]="teacherID">
      <mat-option *ngFor="let docente of dataTeachers" [value]="docente.id">
        {{docente.nombre + ' ' + docente.apellido1}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button color="primary" type="submit"  (click)="updateGroup()" mat-raised-button>Asignar</button>


</div>

