
<ion-content>
  <ion-card>
    <ion-card-content>

      <div *ngIf="loading" style="margin-left: 45%">
        <ion-spinner color="primary"></ion-spinner>
      </div>

      <div *ngIf="complete">
        <h2>Se ha agregado la asistencia del día de hoy del grupo {{group}}</h2>

      </div>


      <div *ngIf="notLoading">

        <mat-table #table [dataSource]="finalData">

          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nom. </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.nombre_estudiante}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ausenciaInjustificada">
            <mat-header-cell *matHeaderCellDef>A I</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ion-checkbox [(ngModel)]="element.ausencia_injustificada"></ion-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ausenciaJustificada">
            <mat-header-cell *matHeaderCellDef>A J</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ion-checkbox [(ngModel)]="element.ausencia_justificada"></ion-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="tardiaInjustificada">
            <mat-header-cell *matHeaderCellDef>T I</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ion-checkbox [(ngModel)]="element.tardia_injustificada"></ion-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="tardiaJustificada">
            <mat-header-cell *matHeaderCellDef>T J</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ion-checkbox [(ngModel)]="element.tardia_justificada"></ion-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="presente">
            <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ion-checkbox [(ngModel)]="element.presente"></ion-checkbox>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <ion-chip style="margin-left: 25%" (click)="insert()" color="primary">
          <ion-label>Guardar asistencia</ion-label>
        </ion-chip>

      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
