<app-toolbar></app-toolbar>
<div style="animation-name: fadeIn; animation-duration: 0.5s">
  <div class="hello">
    <button style="margin-bottom: 20px" color="primary" routerLink="/admin" routerLinkActive="router-link-active" mat-mini-fab aria-label="back">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1> Gestionar Estudiantes </h1>
    <h3>Curso lectivo: {{year}}</h3>
  </div>
  <div class="buttons-group">
    <mat-tab-group mat-align-tabs="center" class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Lista general de estudiantes"> <app-general-students-table></app-general-students-table></mat-tab>
      <mat-tab label="Eliminar estudiante de institución"> <app-delete-student></app-delete-student> </mat-tab>
      <mat-tab label="Ingresar estudiante al sistema"> <app-student-form></app-student-form> </mat-tab>
    </mat-tab-group>
  </div>
</div>
