<div class="contenedor mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>


    <ng-container matColumnDef="apellido1">
      <th mat-header-cell *matHeaderCellDef> Primer apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido1}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido2">
      <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido2}} </td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
    </ng-container>


    <ng-container matColumnDef="contrasenia">
      <th mat-header-cell *matHeaderCellDef> Contraseña </th>
      <td mat-cell *matCellDef="let element"> {{element.contrasenia}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
