<form class="example-container">
  <mat-form-field>
    <input required ngModel #usuario="ngModel" name="usuario" type="text" id="usaurio" type="text" matInput placeholder="Ingrese el usuario del docenete a eliminar del sistema">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="usuario.touched && !usuario.valid">El usuario es requerido</div>

  <mat-form-field appearance="outline" style="margin-right: 50px">
    <mat-label>Seleccione el valor a actualizar</mat-label>
    <mat-select [(value)]="campo" >
      <mat-option *ngFor="let sta of status" [value] ="sta.value">
        {{sta.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input required ngModel #valor="ngModel" name="valor" type="text" id="valor" type="text" matInput placeholder="Ingrese el nuevo valor">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="valor.touched && !valor.valid">El nuevo valor es requerido</div>

  <button color="primary" (click)="updateTeacher(usuario.value, valor.value)" type="submit" mat-raised-button>Actualizar</button>
</form>
