<div class="example-container">
  <mat-form-field >
    <mat-label>Presione para seleccionar el mes del reporte a generar</mat-label>
    <mat-select [(ngModel)]="mes" >
      <mat-option *ngFor="let month of months" [value] ="month">
        {{month.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="next()" color="primary">Aceptar</button>
</div>

<div class="example-container" *ngIf="show">
  <button mat-raised-button (click)="log()" color="primary">Generar reporte</button>
</div>

<div *ngIf="loading" style="margin-bottom: 5px">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>


