<ion-header>
 <ion-toolbar>
   <ion-title color="primary">
     Villa Azul
   </ion-title>
     <ion-buttons slot="primary">
         <ion-button (click)="close()">
             <ion-icon name="power"></ion-icon>
         </ion-button>
     </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card color="primary">
   <ion-card-content>
     <h1> Bienvenido Prof. {{teacherName}} </h1>
     <h3>Curso lectivo: {{year}}</h3>
     <h3>Grupo: {{group}}</h3>
   </ion-card-content>
 </ion-card>

<app-attendance> </app-attendance>

</ion-content>
