<form class="example-container">
  <mat-form-field>
    <input required ngModel #nombre="ngModel" name="nombre" type="text" id="nombre" type="text" matInput placeholder="Nombre">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="nombre.touched && !nombre.valid">El nombre es requerido</div>
  <button color="primary" type="submit" (click)="search(nombre.value)" mat-raised-button>Aceptar</button>
</form>

<div  class="example-container" *ngIf="!exist">
  <div class="alert alert-danger">El estudiante no existe en el sistema</div>
</div>

<div class="example-container" *ngIf="show">
  <table mat-table [dataSource]="students">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido1">
      <th mat-header-cell *matHeaderCellDef> Apellido1 </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido1}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido2">
      <th mat-header-cell *matHeaderCellDef> Apellido2 </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido2}} </td>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef> Sexo </th>
      <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
    </ng-container>


    <ng-container matColumnDef="fecha_admision">
      <th mat-header-cell *matHeaderCellDef> Fecha de admisión </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_admision | date}} </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Acción </th>
      <button style="margin-top: 5px" mat-cell *matCellDef="let element" (click)="insert(element)"  color="primary" type="submit" mat-raised-button>
        <mat-icon>save</mat-icon>
      </button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
