<div class="example-container">
  <mat-form-field>
    <input required ngModel #nombre="ngModel" name="nombre" type="text" id="nombre" type="text" matInput placeholder="Nombre">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="nombre.touched && !nombre.valid">El nombre del curso es requerido</div>

  <button color="primary" type="submit" (click)="insert(nombre.value)" mat-raised-button>Aceptar</button>

  <div *ngIf="insertado">Curso insertado con éxito!</div>
</div>
