<app-toolbar></app-toolbar>
<div style="animation-name: fadeIn; animation-duration: 0.5s">

  <div class="hello">
    <button style="margin-bottom: 20px" color="primary" routerLink="/" routerLinkActive="router-link-active" mat-mini-fab aria-label="back">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h1>Generación de reportes </h1>
    <h3>Curso lectivo: {{year}}</h3>
    <h3>Grupo: {{group}}</h3>
  </div>

  <div class="buttons-group">
    <mat-tab-group mat-align-tabs="center" class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Reporte mensual de asistencia"> <app-monthly-assistance></app-monthly-assistance> </mat-tab>
    <!--  <mat-tab label="Reporte trimestral de asistencia"> </mat-tab> -->
      <mat-tab label="Reporte anual de asistencia"> <app-annual-assistance></app-annual-assistance> </mat-tab>
      <mat-tab label="Reporte de notas"> <app-annual-grade></app-annual-grade> </mat-tab>
    </mat-tab-group>
  </div>

</div>
