<form class="example-container">
  <mat-form-field>
    <input required ngModel #usuario="ngModel" name="usuario" type="text" id="usaurio" type="text" matInput placeholder="Ingrese el usuario del docenete a eliminar del sistema">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="usuario.touched && !usuario.valid">El usuario es requerido</div>
  <button color="warn" type="submit" (click)="search(usuario.value)" mat-raised-button>Dar de baja</button>
</form>

