<div class="example-table-container">

  <table mat-table [dataSource]="dataSource" class="example-table">
    <!-- Title Column -->
    <ng-container style="align-content: center" matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre del curso</th>
      <td mat-cell *matCellDef="let element">{{element.nombre_curso}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
